<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AdJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>JqueryAjaxServlet</display-name>
  <welcome-file-list>
    <welcome-file>testAjax.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JqueryServlet</servlet-name>
    <servlet-class>com.JqueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryServlet</servlet-name>
    <url-pattern>/JqueryServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudDet</servlet-name>
    <servlet-class>com.StudDet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudDet</servlet-name>
    <url-pattern>/StudDet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginAjaxList</servlet-name>
    <servlet-class>com.loginAjaxList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAjaxList</servlet-name>
    <url-pattern>/loginAjaxList/*</url-pattern>
  </servlet-mapping>
</web-app>